@import "tailwindcss";

:root {
    --color-fondo-principal: #FEF7E1;    
    --color-fondo-secundario: #EDD8BB;   
    --color-acento-suave: #E2AA87;      
    --color-acento-vibrante: #EF8E7D;    
    --color-cta: #A2D3C7;                
    --color-texto-oscuro: #35495e;    
    --color-extra: #EF8E7D;
}